body {
	margin: 0; padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li {
	margin: 50px 0;
}

h1 {
	font-style: italic;
}

a {
	color:black;
}

p, a, blockquote {
	line-height: 28px;
	font-size: 14px;
}
blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	position: relative;
	color: #383838;
}
blockquote cite {
	color: #999999;
	display: block;
	margin-top: 15px;
}
 
blockquote cite:before {
 content: "\2014 \2009";
}

section {
	margin: 0;
	padding: 0;
}

.center {
	width: 700px;
	margin: 8% auto;
}

.caption {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 20px;
}

.artwork,
.bio {
	margin: 80px 0;
}

@media screen and (max-width: 1000px) {
	.center {
		width: 100%;
	}
	#intro,
	.artist {
		padding: 0 30px;
	}
	.caption {
		font-size: 9px;
		line-height: 14px;
	}
	p, a {
		line-height: 20px;
		font-size: 12px;
	}

}