body {
	margin: 0; padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li {
	margin: 40px 0 50px 0;
}

h1 {
	color: #fff;
	letter-spacing: 1px;
	font-weight: 400;
	cursor: pointer;
	opacity: .7;
	filter: alpha(opacity=70);
	transition: opacity 500ms ease;
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	-o-transition: opacity 500ms ease;
}
h1:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.header {
	position: relative
}
.center-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
#intro {
	overflow: auto;
	margin: 80px 0;
}

#intro .info {
	padding: 0 15%;
}
.indent {
	display: block;
}

#intro .info .center {
	margin-top: 4%;
}

.video-wrapper {
	margin: 30px 0;
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
}

#on-broadway-poster {
	float: left;
	width: 400px;
	height: auto;
	margin-right: 25px;
	display: block;
}
#mobile-on-broadway-poster {
	display: none;
	float: left;
	width: 100%;
	height: auto;
	margin-right: 0;
}
.fancybox-skin {
	padding: 0 !important;
}

img:not(.fancybox) {
	float: left;
}


a {
	color:black;
}

p, a, blockquote {
	line-height: 28px;
	font-size: 14px;
}
blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0.25em 0;
	padding: 0.25em 45px;
	position: relative;
	color: #383838;
}
blockquote cite {
	color: #999999;
	display: block;
	margin-top: 15px;
}

blockquote cite:before {
	content: "\2014 \2009";
}

section {
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.artist {
	clear: both;
	padding-top: 5px;
}


.center {
	width: 700px;
	margin: 10% auto;
}

.artist .center {
	margin: 20px auto;
}

.caption {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 20px;
}

.artwork,
.bio {
	margin: 80px 0;
}

.small-logo {
	height: 94px;
	width: 100px;
	background: url(../images/property_logo_sm.jpg) no-repeat top center;
	background-size: 100px 94px;
	cursor: pointer;
	margin: 0 auto;
	padding-bottom: 15px;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
}
#footer {
	margin-top: 80px;
	clear: both;
	position: relative;
}
#footer-nav {
	padding: 0;
	width:  25em;
	margin: 20px auto;
	list-style: none;
}
#footer-nav li {
	display: inline-block;
	margin: 0 1em 0 0;
	width: 2em;
}
#footer-nav li:last-child {
	margin-right: 0;
}
#footer-nav a {
	color: black;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1;
}
#footer-nav .active {
	color: #f05424;
}
#footer-nav a:hover {
	color: #a9dde8;
}
#footer .small-logo,
#footer .small-logo:hover {
	background-size: 50px 47px;
}
.computer .small-logo:hover {
	background: url(../images/property_logo_sm_hover.jpg) no-repeat top center;
}

@media screen and (min-width: 1300px) {
	#on-broadway-poster {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1000px) {
	.center {
		width: 100%;
	}
	h1,
	#intro .info {
		padding: 0 30px;
	}

	.artist {
		padding: 5px 30px;
	}

	#intro {
		margin-top: 0;
	}

}

@media screen and (max-width: 800px) {
	#intro .info {
		float: left;
		margin: 15px 0;
	}
	#lightbox-poster {
		display: none;
	}
	#mobile-on-broadway-poster {
		display: block;
	}
}

@media screen and (max-width: 700px) {
	.artwork,
	.bio {
		margin: 40px 0;
	}
	.caption {
		font-size: 9px;
		line-height: 14px;
	}
	p, a, blockquote {
		line-height: 20px;
		font-size: 12px;
	}
	blockquote {
		padding: 0 20px;
	}
}
@media (max-width: 500px) {
	#footer-nav a {
		font-size: 9px;
	}
	#footer-nav {
	    width: 9.5em;
  	}
  	#footer-nav li {
		margin: 0 .8em 1em 0;
		width: 1.5em;
		line-height: .8;
	}
	#footer-nav li:nth-child(4),
	#footer-nav li:last-child {
		margin-right: 0;
	}
	
	#footer-nav li a {
		line-height: 1;
	}
	
	
	#footer .small-logo {
		position: relative;
		top: 0;
	}
}