/*
 * OPEN HOUSE
 */
#open-house #poster {
	/*font-family: 'bebasregular', sans-serif;
	letter-spacing: 1px;*/
}

#open-house #poster h1 {
	text-align: center;
	font-size: 72px;
	text-transform: uppercase;
	font-family: 'bebasregular';
	color: #fff;
	margin: 0;
	background: url('../images/open_house.png') no-repeat center center;
	margin: 0 auto;
	background-size: 297px 54px;
	text-indent: -30000px;
}
#open-house .centered {
	cursor: pointer;
}

.computer #open-house .centered:hover a
.computer #open-house .centered:hover {
	color: #fcff00;
	cursor: pointer;
	text-decoration: none;
}
.computer #open-house .centered:hover h1 {
	background: url('../images/open_house_hover.png') no-repeat center center;
}

@media (max-width: 500px) {
	.centered {
		width: 280px;
		margin: 20px auto 50px auto;
	}
	.centered p {
		font-size: .8em;
	}
	#open-house h1 {
		height: 37px;
		background-size: 149px 27px;/*297px 54px;*/
	}
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {


	#open-house .centered p {
		font-size: .6em;
	}
}