/*
 * OPEN HOUSE
 */
#open-house #poster {
	/*font-family: 'bebasregular', sans-serif;
	letter-spacing: 1px;*/
}

#open-house #poster h1 {
	text-align: center;
	font-size: 72px;
	text-transform: uppercase;
	font-family: 'bebasregular';
	color: #fff;
	margin: 0 auto;
	text-indent: -30000px;
	background: url(../images/open-house/sprites.png) no-repeat;
	width: 297px;
	height: 54px;
	background-position: 0 0;
}
#open-house .centered {
	cursor: pointer;
}
#open-house #poster a {
	text-decoration: none;
}

.computer#open-house #poster .centered:hover h1 {
	background-position: -1px -57px;
}

.computer#open-house .centered:hover {
	color: #fcff00;
	cursor: pointer;
}
@media (max-width: 500px) {
	.centered {
		width: 280px;
		margin: 40px auto 50px auto;
	}
	#open-house #poster .centered p {
		font-size: 11px;
	}
	#open-house #poster h1 {
		height: 27px;
		width: 149px;
		margin: 5px auto;
		background-size: 149px 55px;/*298px 111px;*/
	}
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {


	#open-house .centered p {
		font-size: .6em;
	}
}