/*
 * Colors
 orange = #f05424;
 maroon = #720f12;
 pink = #facdd0;
 light blue = #a9dde8;
 
*/
body {
	margin: 0; padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
}
body.past {
	overflow: auto;
}
section {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'bebasregular';
	src: url('../fonts/BEBAS___-webfont.eot');
	src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BEBAS___-webfont.woff') format('woff'),
	url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
	url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

#home,
#home h1,
.modal {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}

.centered {
	width: 500px;
	margin: 20% auto;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
}

/*
 * HOME
 */
#home {
	background: #fff;
	z-index: 4;
}

#home h1 a {
	display: block;
	width: 3000px;
	height: 2825px;
}

.device #home h1 a {
	display: block;
	position: absolute;
	width: inherit;
	height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}
.device #home h1 a {
	background: url(../images/property_logo.jpg) center center no-repeat;
	text-indent: -30000px;
	background-size: 6000px 5664px;/*3000px 2832px;*/
}
.device #home h1 a.start {
	-webkit-transition: background-size 1s linear;
	-moz-transition: background-size 1s linear;
	-o-transition: background-size 1s linear;
	-ms-transition: background-size 1s linear;
	transition: background-size 1s linear;
}
.device #home h1 a.bounce {
	-webkit-transition: background-size 200ms linear;
	-moz-transition: background-size 200ms linear;
	-o-transition: background-size 200ms linear;
	-ms-transition: background-size 200ms linear;
	transition: background-size 200ms linear;
}

#home h1 a img {
	margin: 0 auto;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*
 * OPENING
 */
video { width: 100%; height: auto;}

@import url(http://fonts.googleapis.com/css?family=Lato:700);

#current-show {
	position: absolute;
	top:0;
	left: 100%;
	right: -100%;
	bottom: 0;
	overflow: hidden;
	z-index: 2;
	background: #f3e3a8;
	color: #1a7d71;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
#the-awful-truth {
	display: block;
	margin: 0 auto;
}
.below-fold {
	overflow: auto;
	position: relative;
	height: 100%;
}

.below-fold .center {
	width: 560px;
	margin: 50px auto;
	font-size: 16px;
}
@media (max-width: 600px) {
	.below-fold .center {
		width: 415px;
		font-size: 12px;
	}
}
@media (max-width: 500px) {
	.below-fold .center {
		width: 350px;
		font-size: 10px;
	}

}
@media (max-width: 400px) {
	.below-fold .center {
		width: 250px;
		position: absolute;
		bottom: 20px;
		left: 20px;
		margin: 0;
		z-index: 20;
	}

	span.sm {
		text-indent: -3000px;
		overflow: hidden;
		clear: right;
		display: block;
		width: 0;
		margin: 0;
	}
}

/*
 * PRESS RELEASE
 */
#info {
	position: absolute;
	top:0;
	left: 100%;
	right: -100%;
	bottom: 0;
	overflow: hidden;
	z-index: 6;
	background: #fff;
	cursor: pointer;
	overflow: auto;
}

.small-logo {
	height: 94px;
	width: 100px;
	background: url(../images/property_logo_sm.jpg) no-repeat top center;
	background-size: 100px 94px;
	cursor: pointer;
	margin: 0 auto;
	padding-bottom: 15px;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
}
.computer .small-logo:hover {
	background: url(../images/property_logo_sm_hover.jpg) no-repeat top center;
	background-size: 100px 94px;
}

.page-3 {
	position: relative;
}

#nav {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	position: absolute;
	margin: 0;
	top: 15px;
	right: 15px;
	z-index: 2;
}
#nav li {
	float: left;
	margin-right: 20px;
	font-size: 12px;
}
#nav li a {
	text-decoration: none;
	padding: 2px 5px;
}

#nav li.active a {
	color: #f05424;
}
#nav li a:hover {
	color: #a9dde8;
}

#content {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}
#content > li {
	padding-top: 180px;
	display: none;
}
#content li.active {
	display: block;
}

.show-list {
	list-style: none;
	padding: 0;
}
.show-list li {
	position: relative;
	margin-bottom: 80px;
}

.show-list li h2 {
	text-transform: uppercase;
}
.date {
	position: absolute;
	left: -130px;
	top: 0;
	text-transform: uppercase;
	font-size: 12px;
	color: gray;
	width: 100px;
	text-align: right;
}

#info a {
	color: black;
}
#info .centered {
	color: black;
	font-size: 1em;
	text-transform: none;
	text-align: left;
	line-height: 1.5em;
	cursor: default;
	overflow: visible;
	margin: 0 auto;
}
#info .show-list a {
	text-decoration: none;
}
.computer #info .show-list a:hover .date,
.computer #info .show-list a:hover {
	color: #a9dde8;
}


/*
 * PAST PROJECTS
 */
#documentation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#documentation ul img {
	width: 100%;
	height: auto;
}
#documentation ul li {
	position: relative;
}
.caption {
	margin: 0 0 40px 5px;
	font-size: .8em;
	transition: opacity 500ms ease;
   -moz-transition: opacity 500ms ease;
   -webkit-transition: opacity 500ms ease;
}

.documentation {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 3;
	color: black;
	font-size: 12px;
}
.documentation:hover {
	color: #a9dde8;
}
#footer {
	margin-top: 80px;
	clear: both;
	position: relative;
}
#footer-nav {
	padding: 0;
	width:  134px;/*210px;*/
	margin: 20px auto;
	list-style: none;
}
#footer-nav li {
	float: left;
	margin-right: 20px;
}
#footer-nav li:last-child {
	margin-right: 0;
}
#footer-nav a {
	color: black;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
}
#footer-nav .active {
	color: #f05424;
}
#footer-nav a:hover {
	color: #a9dde8;
}
#footer .small-logo,
#footer .small-logo:hover {
	background-size: 50px 47px;
}



@media (max-width: 1000px) {
	.small-logo {
		top: 55px;
	}
	#info .centered {
		width: 75%;
	}
	#info .show-list h2 {
		font-size: 20px;
	}
	.date {
		left: -115px;
		font-size: 11px;
	}
	.shorten {
		display: none;
	}
}


@media (max-width: 640px) {
	.centered {
		width: 400px;
		margin: 15px auto;
	}
	#info .centered {
		width: 90%;
	}
	.show-list li {
		margin-left: 80px;
		margin-bottom: 30px;
	}
}

@media (max-width: 500px) {
	.centered {
		width: 280px;
		margin: 20px auto 50px auto;
	}
	.centered p {
		font-size: .8em;
	}
	
	#info .show-list h2 {
		margin-bottom: 0;
	}
	.date {
		left: 0;
		text-align: left;
		position: static;
	}
	
	.show-list li {
		margin-left: 0;
	}
	.caption {
		font-size:10px;
	}
}