/*
 * Colors
 orange = #f05424;
 maroon = #720f12;
 pink = #facdd0;
 light blue = #a9dde8;
 
*/
body {
	margin: 0; padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
}
body.past {
	overflow: auto;
}
section {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'bebasregular';
	src: url('../fonts/BEBAS___-webfont.eot');
	src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BEBAS___-webfont.woff') format('woff'),
	url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
	url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

#home,
#home h1,
.modal {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}

.centered {
	width: 500px;
	margin: 20% auto;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
}

/*
 * HOME
 */
#home {
	background: #fff;
	z-index: 4;
}

#home h1 a {
	display: block;
	width: 3000px;
	height: 2825px;
}

.device #home h1 a {
	display: block;
	position: absolute;
	width: inherit;
	height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
}
.device #home h1 a {
	background: url(../images/property_logo.jpg) center center no-repeat;
	text-indent: -30000px;
	background-size: 6000px 5664px;/*3000px 2832px;*/
}
.device #home h1 a.start {
	-webkit-transition: background-size 1s linear;
	-moz-transition: background-size 1s linear;
	-o-transition: background-size 1s linear;
	-ms-transition: background-size 1s linear;
	transition: background-size 1s linear;
}
.device #home h1 a.bounce {
	-webkit-transition: background-size 200ms linear;
	-moz-transition: background-size 200ms linear;
	-o-transition: background-size 200ms linear;
	-ms-transition: background-size 200ms linear;
	transition: background-size 200ms linear;
}

#home h1 a img {
	margin: 0 auto;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*
 * OPENING
 */
video { width: 100%; height: auto;}

#current-show {
	position: absolute;
	top:0;
	left: 100%;
	right: -100%;
	bottom: 0;
	overflow: hidden;
	z-index: 2;
	background: url(../images/fourpainters/wide.jpg) no-repeat center center;
	background-size: cover;
}
#current-show h1 {
	position: absolute;
	background: url('../images/fourpainters/4painters.png') no-repeat;
	margin: 0 auto;
	width: 300px;
	background-size: contain; /*500px 260px;*/
	display: block;
	height: 260px;
	text-indent: -30000px;
	z-index: 2;
}

#current-show h1.pos-1 {
	top: 1%;
	left: 40%;
}
#current-show h1.pos-2 {
	top: 30%;
	left: 60%;
}
#current-show h1.pos-3 {
	top: 50%;
	left: 50%;
}
#current-show h1.pos-4 {
	top: 70%;
	left: 25%;
}
#current-show h1.pos-5 {
	top: 50%;
	left: 30%;
}

#current-show .modal {
	position: absolute;
	bottom: 10px;
	left: 12px;
	top: initial;
	right: initial;
	width: 350px;
}
.names {
	position: absolute;
	left: 35%;
	width: 30%;
	top: 60%;
	list-style: none;
	color: #044e48;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-family: Helvetica, 'sans-serif';
}
#current-show .modal p	{
	float: left;
	margin: 0 30px 0 0;
}

@media (max-width: 900px) {
	.names {
		font-size: 1.2em;
		left: 25%;
		width: 50%;
	}
	#current-show h1 {
		width: 200px;
	}
}
@media (max-width: 600px) {
	.names {
		font-size: 1.1em;
		left: 20%;
		width: 50%;
	}
	#current-show .modal {
		font-size: .8em;
	}
	#current-show h1 {
		width: 180px;
	}
}
@media (max-height: 500px) {
	.names {
		font-size: 1em;
	}
	#current-show h1 {
		width: 120px;
	}
	#current-show .modal {
		font-size: .6em;
	}
	#current-show .modal p	{
		margin: 0 15px 0 0;
	}

}



/*
 * PRESS RELEASE
 */
#info {
	position: absolute;
	top:0;
	left: 100%;
	right: -100%;
	bottom: 0;
	overflow: hidden;
	z-index: 6;
	background: #fff;
	cursor: pointer;
	overflow: auto;
}

.small-logo {
	height: 94px;
	width: 100px;
	background: url(../images/property_logo_sm.jpg) no-repeat top center;
	background-size: 100px 94px;
	cursor: pointer;
	margin: 0 auto;
	padding-bottom: 15px;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
}
.computer .small-logo:hover {
	background: url(../images/property_logo_sm_hover.jpg) no-repeat top center;
	background-size: 100px 94px;
}

.page-3 {
	position: relative;
}

#nav {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	position: absolute;
	margin: 0;
	top: 15px;
	right: 15px;
	z-index: 2;
}
#nav li {
	float: left;
	margin-right: 20px;
	font-size: 12px;
}
#nav li a {
	text-decoration: none;
	padding: 2px 5px;
}

#nav li.active a {
	color: #f05424;
}
#nav li a:hover {
	color: #a9dde8;
}

#content {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}
#content > li {
	padding-top: 180px;
	display: none;
}
#content li.active {
	display: block;
}

.show-list {
	list-style: none;
	padding: 0;
}
.show-list li {
	position: relative;
	margin-bottom: 80px;
}

.show-list li h2 {
	text-transform: uppercase;
}
.date {
	position: absolute;
	left: -130px;
	top: 0;
	text-transform: uppercase;
	font-size: 12px;
	color: gray;
	width: 100px;
	text-align: right;
}

#info a {
	color: black;
}
#info .centered {
	color: black;
	font-size: 1em;
	text-transform: none;
	text-align: left;
	line-height: 1.5em;
	cursor: default;
	overflow: visible;
	margin: 0 auto;
}
#info .show-list a {
	text-decoration: none;
}
#info .show-list a:hover .date,
#info .show-list a:hover {
	color: #a9dde8;
}


/*
 * PAST PROJECTS
 */
#documentation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#documentation ul img {
	width: 100%;
	height: auto;
}
#documentation ul li {
	position: relative;
}
.caption {
	margin: 5px 0 40px 10px;
	font-size: .8em;
}
.documentation {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 3;
	color: black;
	font-size: 12px;
}
.documentation:hover {
	color: #a9dde8;
}
#footer {
	margin-top: 80px;
	clear: both;
	position: relative;
}
#footer-nav {
	padding: 0;
	width: 210px;
	margin: 20px auto;
	list-style: none;
}
#footer-nav li {
	float: left;
	margin-right: 20px;
}
#footer-nav li:last-child {
	margin-right: 0;
}
#footer-nav a {
	color: black;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
}
#footer-nav .active {
	color: #f05424;
}
#footer-nav a:hover {
	color: #a9dde8;
}
#footer .small-logo,
#footer .small-logo:hover {
	background-size: 50px 47px;
}



@media (max-width: 1000px) {
	.small-logo {
		top: 55px;
	}
	#info .centered {
		width: 75%;
	}
	#info .show-list h2 {
		font-size: 20px;
	}
	.date {
		left: -115px;
		font-size: 11px;
	}
	.shorten {
		display: none;
	}
}


@media (max-width: 640px) {
	.centered {
		width: 400px;
		margin: 15px auto;
	}
	#info .centered {
		width: 90%;
	}
	.show-list li {
		margin-left: 80px;
	}
}

@media (max-width: 500px) {
	.centered {
		width: 280px;
		margin: 20px auto 50px auto;
	}
	.centered p {
		font-size: .8em;
	}
}